<div class="alert alert-danger" id="info-error" style="display:none;"></div>
<a href="https://www.douyu.com/196" class="thumbnail" target="_blank">
    <img src="../static/img/cover.jpg" title="小缘196" id="room_thumb">
</a>
<table class="table table-bordered">
    <tbody>
        <tr>
            <th style="width: 105px">直播间标题：</th>
            <td id="room_name"></td>
        </tr>
        <tr>
            <th>主播：</th>
            <td id="owner_name"></td>
        </tr>
        <tr>
            <th>开播状态：</th>
            <td id="room_status"></td>
        </tr>
        <tr>
            <th>人气：</th>
            <td id="online">-</td>
        </tr>
        <tr>
            <th>上次直播：</th>
            <td id="start_time"></td>
        </tr>
        <tr>
            <th>关注：</th>
            <td id="fans_num"></td>
        </tr>
        <tr>
            <th>体重：</th>
            <td id="owner_weight"></td>
        </tr>
        <tr>
            <th>更新时间：</th>
            <td id="update_time"></td>
        </tr>
    </tbody>
</table>
