<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/common.css">
</head>
<body>
	<nav class="navbar navbar-default navbar-static-top">
		{% block navbar %}{% endblock %}
	</nav>
	<div class="container box">
        <div class="chat">
            <div class="well chat-frame" id="all">
                {% block all %}{% endblock %}
            </div>
            <div class="well chat-frame" id="attention" style="display: none;">
                {% block attention %}{% endblock %}
            </div>
            <div class="well row" id="setting" style="display: none;">
                {% block setting %}{% endblock %}
            </div>
        </div>
        <div class="info hidden-xs">
            <div class="well">
                {% block info %}{% endblock %}
            </div>
        </div>
	</div>
    {% block modal %}{% endblock %}
<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/common.js"></script>
</body>
</html>