<div class="container">
    <ul class="nav navbar-nav navbar-my">
        <li class="view active" data-id="#all">
            <a href="javascript:">全部</a>
        </li>
        <li class="view" data-id="#attention">
            <a href="javascript:">关注 <span class="badge">1</span></a>
        </li>
        <li class="view" data-id='#setting'>
            <a href="javascript:">设置</a>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-my">
        <li>
            <select class="form-control navbar-left" title="当前直播间">
                <option id="196" class="selected">196</option>
                <option id="22">22</option>
                <option id="1">1</option>
            </select>
            <button type="button" class="btn btn-default navbar-btn">切换直播间</button>
        </li>
    </ul>
</div>