<div class="col-md-6 follow-list">
    <ul class="list-group">
        <li class="list-group-item title">
            <h4>关注列表：</h4>
            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#newModal">添加关注</button>
        </li>
        <li class="list-group-item cell">
            <p>小缘</p>
            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#removeModal" data-name="小缘">取消关注</button>
        </li>
    </ul>
</div>
<div class="col-md-6">
    <h1>1111111</h1>
</div>